.container {
  text-align: center;
  justify-content: center;
}

.heading {
  color: rgb(0, 0, 0);
  font-size: 50pt;
  padding-top: 4rem;
  font-weight: lighter;

}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-top: 1.5rem;
  justify-content: center;

}

.nav-link-item {
  padding-right: 2rem;

}

.nav-link-text {
  color: rgb(93, 170, 241);
  font-size: large;


}