.index_container {
    margin: auto;
    max-width: 500px;
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    text-align: left;
  }
  